<form action="pages/create" method="post">
    <input name="name" type="text" placeholder="Nombre"><br>
    <input name="age" type="number" placeholder="Edad" min="0">
    <input type="submit" value="Enviar">  
</form>

